.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  min-height: 100vh;
  align-items: stretch;
  font: Arial;
  font-family: sans-serif;
}

.clock {
    /*color: var(--text-color);*/
    font-size: 16vw;
    max-height: 40vh;
    text-align: center;
}

.clockDate {
  font-size: 6vw;
  max-height: 40vh;
  text-align: center;
}

.clock::after {
    content:"";
    display: inline-block;
    width: 100%;
}