.optionContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.modeSelector {
    border: none;
    width: 30px;
}
/*.modeSelector img {
    background-color: white;
}
*/

.settingsForm {
}
.settingsForm input {
    padding-bottom: 10px;
    padding-right: 5px;
}

.modalButton {
    margin-right: 10px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    max-width: 800px;
    background-color: rgb(var(--background-start-rgb));
}

.modalHeader, .modalFooter {
    padding: 10px;
}

.modalTitle {
    margin: 0;
}

.modalBody {
    padding: 10px;
}

.modalContent label {
    padding-right: 10px;
}