.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 6rem;
  min-height: 100vh;
  align-items: stretch;
}

.clock {
    font-size: 13vw;
    text-align: justify;
}

.clock::after {
    content:"";
    display: inline-block;
    width: 100%;
}